QGroupBox#DCDC_GrpBox {
    background: rgb(221, 235, 247);
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    border: 1px;
}

QGroupBox#DCDC_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 5 100px;
    background: rgb(91, 155, 213);
}

QGroupBox#PSU_GrpBox {
    background: rgb(230, 201, 239);
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    border: 10px;
}

QGroupBox#PSU_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 5 100px;
    background: rgb(105, 38, 126);
}

QGroupBox#LDO_GrpBox {
    background: rgb(237, 243, 214);
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    border: 10px;
}

QGroupBox#LDO_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 5 100px;
    background: rgb(162, 192, 55);
}

QGroupBox#SWITCH_GrpBox {
    background: rgb(247, 218, 208);
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    border: 10px;
}

QGroupBox#SWITCH_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 5 100px;
    background: rgb(203, 79, 36);
}

QGroupBox#CONSUMER_GrpBox {
    background: rgb(250, 233, 207);
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    border: 10px;
}

QGroupBox#CONSUMER_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding: 5 100px;
    background: rgb(220, 145, 27);
}

QLabel#Voltage {
    color: green;
    font: bold 14px;
}

QLabel#Current {
    color: red;
    font-weight: bold 12px;
}

QLabel#Power {
    color: blue;
    font-weight: bold 12px;
}

QLabel#Bold_Word {
    font: bold 12px;
}

QGroupBox#addElement_GrpBox {
    font-weight: bold;
    font-size: 12px;
    min-width: 400px;
    max-width: 400px;
    min-height: 170px;
    max-height: 170px;
}

QGroupBox#addElement_GrpBox:title {

}

QGroupBox#LDO_addElement_GrpBox {
    font-weight: bold;
    font-size: 12px;
    padding-top: 22px;
    border-style: outset;
    border-width: 2px;
    border-color: rgb(162, 192, 55);
    background: rgb(237, 243, 214);
}

QGroupBox#LDO_addElement_GrpBox:title {
    subcontrol-origin: margin;
    subcontrol-position: right top;
    padding: 5 100px;
    background: rgb(162, 192, 55);
}

